@model IList<SystemWarningModel>
@{
    //page title
    ViewBag.Title = T("Admin.System.Warnings").Text;
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.System.Warnings")
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="system-warnings">
                <ul>
                    @foreach (var warning in Model)
                    {
                        <li>
                            @switch (warning.Level)
                            {
                                case SystemWarningLevel.Pass:
                                    {
                                        <span class="pass">@warning.Text</span>
                                    }
                                    break;
                                case SystemWarningLevel.Warning:
                                    {
                                        <span class="warning">@warning.Text</span>
                                    }
                                    break;
                                case SystemWarningLevel.Fail:
                                    {
                                        <span class="fail">@warning.Text</span>
                                    }
                                    break;
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
